.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 275px;
}

.h1 {
  font-weight: bold;
}
.enterBtn {
  width: 100%;
  background-color: lightpink;
}
