* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f5ecf0;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(200, 73, 124);
  color: rgba(255, 251, 235, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

h1 {
  color: #ce538e;
  text-align: center;
  padding: 20px;
  font-size: 4vw;
  line-height: 1.1;
  margin-top: 90px;
  font-weight: 400;
  letter-spacing: 1vw;
}

h2 {
  color: #ce538e;
  margin-bottom: 20px;
}

main {
  background-color: #f5ecf0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 60px;
}

main::-webkit-scrollbar-track {
  background: transparent;
}
main::-webkit-scrollbar-thumb {
  background-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

a {
  font-weight: 600;
  font-size: 20px;
  color: #ff64f7;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  margin-right: 10px;
  height: 35px;
  width: 250px;
}

.blog-post {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
}

p {
  max-width: 80%;
}
.like-button {
  background-color: #e9bdd1;
  border-radius: 4px;
  border: 1px solid rgb(200, 73, 124);
  color: rgb(200, 73, 124);
  padding: 7px 15px;
  cursor: pointer;
  float: right;
}

.read-more {
  font-style: italic;
  margin-top: 10px;
  cursor: pointer;
}

.search-btn {
  background-color: #e9bdd1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  float: right;
}

footer {
  background-color: #ce538e;
  color: #fff;
  padding: 20px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

svg {
  fill: white;
  margin-left: 10px;
}

@media (max-width: 780) {
  .blog-post {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 50px;
  }
  .search-bar input {
    width: 150px;
  }
}
